# Copy to .env and fill in your values
DOMAIN=example.com

# Below default values, you can change them as needed. SERVER_SECRET is by default generating in main code, but you can set it here to have a fixed value.

# SERVER_SECRET={generate_random_secret_32}  # You can set if you want a fixed secret.
# STATIC_DIR=./web
# DB_PATH=vault.db
# MAX_MB=100  # Maximum is 100, limited by nginx client_max_body_size, you can change it in nginx config if needed in nginx.conf file.